.container{
    height:100%;
    display: grid;
    /* grid-template-columns: 100px 100px minmax(100px, auto) ; */
    /* grid-template-columns: repeat(3,150px); */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows:minmax(200px, auto) 100px 100px ; */
    grid-template-rows:100px 100px 100px ;
    background-color: blueviolet;
    color: aliceblue;
    /* grid-row-gap: 10px;
    grid-column-gap: 20px; */
    grid-gap: 20px;
}
.item {
    margin: 4px;
    padding: 4px;
    border: 4px solid aliceblue;} 
.item-1{
    grid-column: 1/12;
    /* grid-column-start: 1; */
    /* grid-column-end: 12; */
}    
